<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag "main.css" %>
        <%= stylesheet_link_tag "newUser.css" %>
    </head>
    <body>
        <div class='header'>
            <div class="left">
                <h2>Todo List</h2>
            </div>
            <div class="right"></div>
        </div>
        <div class='content'>
            <div class='AccountCreate'>
                <h3>New User</h3>
                <%= render 'form', user: @user %>
                <%= button_to 'Back', root_path, method: :get, :class => 'navBTN' %>
            </div>
        </div>
    </body>
</html>