<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag "main.css" %>
    <%= stylesheet_link_tag "newUserConfirm.css" %>
  </head>
  <body>
    <div class='header'>
      <h2>Todo List</h2>
    </div>
    <div class='content'>
      <h3>Your account has been created!</h3>
      <div class='buttons'>
        <%= button_to 'Login', login_path, method: :get, :class => 'appBTNs' %>
        <%= button_to 'Back to Home', root_path, method: :get, :class => 'appBTNs' %>
      </div>
    </div>
  </body>
</html>