.appBTNs{
    background-color: rgb(148, 0, 0);
    border: 1px solid rgb(148, 0, 0);
    color: white;
    width: 20vh;
    height: 10vh;
    font-size: xx-large;
}

.appBTNs:hover{
    background-color: rgb(85, 0, 0);
    border: 1px solid rgb(85, 0, 0);
    color: white;
}