.loginCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 35vh;
    color: white;
    background-color: rgb(63, 63, 63);
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.LoginError{
    color: rgb(216, 1, 1);
}

/* Mobile Styles */
@media(max-width: 767px) {
    .loginCont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 50vh;
    }

    .loginForm{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
}
  
/* Tablet Styles */
@media (min-width: 768px) and (max-width: 992px) {

}
  
/* Desktop Styles */
@media (min-width: 993px) {

}