.newItemCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    max-height: 70vh;
    background-color: rgb(63, 63, 63);
    color: white;
    padding-bottom: 1%;
}

.NewItemForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.createItemError{
    color: rgb(216, 1, 1);
}

/* Mobile Styles */
@media(max-width: 767px) {
    .newItemCont{
        width: 90%;
    }

    .NewItemForm{
        width: 80%;
    }
}
  
/* Tablet Styles */
@media (min-width: 768px) and (max-width: 992px) {

}
  
/* Desktop Styles */
@media (min-width: 993px) {

}