.newItemCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: auto;
    max-height: 70vh;
    background-color: rgb(63, 63, 63);
    color: white;
    padding-bottom: 1%;
}

.NewItemForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.createItemError{
    color: rgb(216, 1, 1);
}