.AccountCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: auto;
    max-height: 80vh;
    color: white;
    background-color: rgb(63, 63, 63);
    padding-bottom: 1%;
}

.NewUserForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
}

.NewUserError{
    color: rgb(216, 1, 1);
}